<!DOCTYPE html>
<html>
    <head>
        <style>
            body{background: skyblue; font-family: Verdana, Geneva, Tahoma, sans-serif; color: #fff; padding: 30px;}
            h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
            p{font-size: 16px; text-align: center;}
        </style>
    </head>

    <body>
        <% include partials/nav.ejs %>
        <h1>Take Me Home</h1>
        <p>You won't find a website better anywhere else!</p>
    </body>
</html>
 
 
 
