<!DOCTYPE html>
<html>
    <head>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <% include partials/nav.ejs %>
        <h1>Welcome to the profile of <%= person %></h1>
        <p><strong>Age: </strong><%= data.age %></p>
        <p><strong>Job: </strong><%= data.job %></p>
        <h2>Hobbies</h2>
        <ul>
            <% data.hobbies.forEach(function(item){ %>
                <li><%= item %></li>
            <% }); %>
        </ul>
    </body>
</html>
 
 
 
