<!DOCTYPE html>
<html>
<head>
	<title>Todo List</title>
  <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <link href="/assets/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
  <h1>My todo list</h1> 
  <div id="todo-table">
    <form>
      <input type="text" name="item" placeholder="Add new item..." required autofocus/>
      <button type="submit">Add Item</button>
    </form>

    <ul>
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
    </ul>

  </div>
</body>
</html>
