<!DOCTYPE html>
<html>
     <head>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css">
     </head>
     <body>
     <% include partial/nav.ejs %>
         <h1>Welcome to most Awesome website on internet </h1>
         <p> You won't find a website like this one on this entire planet' </p>

     </body>


</html>